:root{
    --first-deep-black: #0D0D0D;
    --second-vibrant-purple: #7B2CBF;
    --third-dark-purple: #1A1A2E;
    --fourth-neon-lilac: #C77DFF;
    --text-soft-white: #E0E0E0;
    --lines-in-gray: #B3ADAD;
    --gradiant-in-purple: linear-gradient(194deg,rgba(126, 63, 251, 1) 0%, rgba(219, 70, 252, 1) 98%);
    --header-collor: #0E1017;
}

body {
    background-color: var(--first-deep-black);
    margin: 0;
}

/* CABEÇALHO COMPLETO */

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-bottom: solid 1px var(--second-vibrant-purple);
    background: var(--header-collor);
}

.home h1{
    padding-left: 30px;
    margin:  10px 0 10px 0;
    color: var(--fourth-neon-lilac);
}

.pesquisar{
    display: flex;
}


.pesquisar input{
    border-radius: 3px;
    height: 25px;
    border: 0;
    margin: 0 10px 0 0;
    width: 300px;
}

.pesquisar button{
    height: 28px;
    width: 30px;
    padding: 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.pesquisar:hover{
    filter: brightness(1.5);
}

.pesquisar img{
    height: 20px;
    width: 20px;
    padding: 2px 0 0 0;
}

.entrar{
    padding-right: 40px;
}

#btn-entrar{
    height: 35px;
    width: 100px;
    background: var(--gradiant-in-purple);
    color: var(--text-soft-white);
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
}

#btn-cadastrar{
    height: 35px;
    width: 100px;
    background: var(--text-soft-white);
    color: var(--text-soft-white);
    border-radius: 3px;
    color: var(--first-deep-black);
    border: 0;
    cursor: pointer;
}

#btn-entrar:hover, #btn-cadastrar:hover {
   filter: brightness(1.2)
}

/* CORPO DO SITE */


.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start span {
    margin-top: 20px;
    font-weight:bold;
    color: var(--first-deep-black);
    background: var(--text-soft-white);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    font-size:large;
    border: 2px solid var(--fourth-neon-lilac);
    font-family: Arial, Helvetica, sans-serif;
}

.start img {
    margin: 20px 10px 20px 10px;
    border-radius: 20px;
    border: 2px solid var(--second-vibrant-purple);
    height: 500px;
    width: 1000px;
}

.your-history{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.your-history h2 {
    margin: 10px 30px 10px 50px;
    color: var(--second-vibrant-purple);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.your-history img {
    flex-direction: row;
    margin: 10px 30px 10px 50px;
    height: 200px;
    width: 400px;
    border: 2px solid var(--second-vibrant-purple);
    border-radius: 20px;
    gap: 10px;
}

