:root{
    --first-deep-black: #0D0D0D;
    --second-vibrant-purple: #7B2CBF;
    --third-dark-purple: #1A1A2E;
    --fourth-neon-lilac: #C77DFF;
    --text-soft-white: #E0E0E0;
    --lines-in-gray: #B3ADAD;
    --gradiant-in-purple: linear-gradient(194deg,rgba(126, 63, 251, 1) 0%, rgba(219, 70, 252, 1) 98%);
    --header-collor: #0E1017;
}

body {
    background-color: var(--first-deep-black);
    margin: 0;
}

/* CABEÇALHO COMPLETO */

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-bottom: solid 1px var(--second-vibrant-purple);
    background: var(--header-collor);
}

.home h1{
    padding-left: 30px;
    margin:  10px 0 10px 0;
    color: var(--fourth-neon-lilac);
}

.pesquisar{
    display: flex;
}


.pesquisar input{
    border-radius: 3px;
    height: 25px;
    border: 0;
    margin: 0 10px 0 0;
    width: 300px;
}

.pesquisar button{
    height: 28px;
    width: 30px;
    padding: 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.pesquisar:hover{
    filter: brightness(1.05);
}

.pesquisar img{
    height: 20px;
    width: 20px;
    padding: 2px 0 0 0;
}

.entrar{
    padding-right: 40px;
}

#btn-entrar{
    height: 35px;
    width: 100px;
    background: var(--gradiant-in-purple);
    color: var(--text-soft-white);
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
}

#btn-cadastrar{
    height: 35px;
    width: 100px;
    background: var(--text-soft-white);
    color: var(--text-soft-white);
    border-radius: 3px;
    color: var(--first-deep-black);
    border: 0;
    cursor: pointer;
}

#btn-entrar:hover, #btn-cadastrar:hover {
   filter: brightness(1.2)
}

/* CORPO DO SITE */


.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start span {
    margin-top: 20px;
    font-weight:bold;
    color: var(--first-deep-black);
    background: var(--text-soft-white);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    font-size:large;
    border: 2px solid var(--fourth-neon-lilac);
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    position: relative;
    overflow: hidden;
}

#banner-start {
    margin: 20px 10px 20px 10px;
    border-radius: 20px;
    height: 500px;
    width: 1200px;
    cursor: pointer;
}

.infos img{
    height: 100px;
    position: absolute;
    top: 40%;
    left: 8%;
}

.infos button {
    position: absolute;
    top: 63%;
    left: 12.5%;
    height: 45px;
    width: 200px;
    background: var(--gradiant-in-purple);
    color: var(--text-soft-white);
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
}


.banner:hover {
    filter: brightness(1.05);
}

#banner-start:hover {
    border: 2px solid var(--second-vibrant-purple);
}

.your-history{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    overflow: hidden;
}

.your-history h2 {
    margin: 10px 30px 20px 50px;
    color: var(--second-vibrant-purple);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.movies-list{
    padding: 20px;
} 

.movie-card {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 400px;
    height: 200px;
    gap: 15px;
}

#poster{
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover; 
}

.cont-01 {
    margin-left: 30px;
}

#play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    opacity: 0; 
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.movie-card:hover #poster {
    filter: brightness(0.6); /* Escurece a imagem para o play brilhar */
    border: 2px solid var(--second-vibrant-purple);
}

.movie-card:hover #play {
    opacity: 1; /* O play aparece apenas no card que recebeu o mouse */
    transform: translate(-50%, -50%) scale(1.1); /* Dá um leve zoom */
}

.recomendations {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.recomendations h2 {
    margin: 30px 30px 20px 50px;
    color: var(--second-vibrant-purple);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.list-rec{
    flex-direction: row;
    justify-content: center;
}

.list-rec img{
    margin: 0 0 0 10px;
    height: 200px;
    width: 400px;
    border: 2px solid var(--second-vibrant-purple);
    border-radius: 20px;
    cursor: pointer;
}

#rec01 {
    margin-left: 30px;
}

.list-rec img:hover {
    filter: brightness(1.05);
    border: 0;
}

.top-10 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.top-10 h2 {
    margin: 30px 30px 20px 50px;
    color: var(--second-vibrant-purple);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.top-movies{
    flex-direction: row;
    justify-content: center;
}

.top-movies img{
    margin: 0 0 0 10px;
    height: 600px;
    width: 400px;
    border: 2px solid var(--second-vibrant-purple);
    border-radius: 20px;
    cursor: pointer;
}

#top01 {
    margin-left: 30px;
}

.top-movies img:hover {
    filter: brightness(1.05);
    border: 0;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--header-collor);
    height: 220px;
    width: auto;
    margin: 20px 0 0 0;
}

footer h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--second-vibrant-purple);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text-soft-white);
}

.info span{
    margin: 5px 0 5px 0;
}
