:root{

    --first-deep-black: #0D0D0D;
    --second-vibrant-purple: #7B2CBF;
    --third-dark-purple: #1A1A2E;
    --fourth-neon-lilac: #C77DFF;
    --text-soft-white: #E0E0E0;
}

body {
    background-color: gray;
    margin: 0;
}

.cabecalho{
    display: flex;
    align-items: center;
    gap: 625px;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.home{

}

.pesquisar button{
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.entrar{

}
